<h1>Editing customer</h1>
<h1>New customer</h1>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Middle Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Purok</label>
    <select class="form-select" aria-label="Default select example">
      <option value="1">Edenton</option>
      <option value="2">Maligaya</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Baranngay</label>
    <select class="form-select" aria-label="Default select example">
      <option value="1">Sison</option>
      <option value="2">Oldpob</option>
      <option value="2">Kiayap</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Baranngay</label>
    <select class="form-select">
      <option value="1">Maitum</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Province</label>
    <select class="form-select">
      <option value="1">South Cotabato</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div>
    <%= link_to "Save", "#", class: "btn btn-primary" %>
  </div>
</form>

<br>

<div>
  <%= link_to "Back to customers", customers_path %>
</div>

