<h1>Invoices</h1>
<div class="input-group">
  <label for="startDate">Start Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08"/>&nbsp;
  <label for="startDate">End Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08" />
</div>
<br>
<div>
  <div class="input-group">
    <label for="startDate">Search</label>&nbsp;&nbsp;
    <input id="startDate" class="form-control" type="text" />&nbsp;
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Plan</th>
    <th scope="col">Amount</th>
    <th scope="col">Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Larry Lloyd Villa</td>
    <td>Household</td>
    <td>100</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/invoice" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Glenn Miguel</td>
    <td>Household</td>
    <td>100</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/invoice" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Rushel John Gabatin</td>
    <td>Commercial</td>
    <td>200</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/invoice" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Ely Antic Jr.</td>
    <td>Household</td>
    <td>100</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/invoice" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Arly Tañedo</td>
    <td>Commercial</td>
    <td>200</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/invoice" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  </tr>
  </tbody>
</table>
<h1>Payments</h1>
<div class="input-group">
  <label for="startDate">Start Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08"/>&nbsp;
  <label for="startDate">End Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08" />
</div>
<br>
<div>
  <div class="input-group">
    <label for="startDate">Search</label>&nbsp;&nbsp;
    <input id="startDate" class="form-control" type="text" />&nbsp;
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Plan</th>
    <th scope="col">Amount</th>
    <th>OR #</th>
    <th scope="col">Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Larry Lloyd Villa</td>
    <td>Household</td>
    <td>100</td>
    <td>34567</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/payment" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Glenn Miguel</td>
    <td>Household</td>
    <td>100</td>
    <td>34567</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/payment" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Rushel John Gabatin</td>
    <td>Commercial</td>
    <td>200</td>
    <td>34567</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/payment" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Ely Antic Jr.</td>
    <td>Household</td>
    <td>100</td>
    <td>34567</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/payment" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Arly Tañedo</td>
    <td>Commercial</td>
    <td>200</td>
    <td>34567</td>
    <td>October 08, 2022</td>
    <td><a href="/payments/payment" class="nav-link align-middle px-0 link-dark fs-4 bi-eye"></a></td>
  </tr>
  </tr>
  </tbody>
</table>