<h1>Dues</h1>
<div class="input-group">
  <label for="startDate">Start Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08"/>&nbsp;
  <label for="startDate">End Date</label>&nbsp;&nbsp;
  <input id="startDate" class="form-control" type="date" value="2022-10-08" />
</div>
<br>
<div>
  <div class="input-group">
    <label for="startDate">Search</label>&nbsp;&nbsp;
    <input id="startDate" class="form-control" type="text" />&nbsp;
  </div>
</div>
<br>
<div class="btn-group me-2">
  <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Plan</th>
    <th scope="col">Address</th>
    <th scope="col">Date</th>
    <th scope="col">Send Notif?</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Larry Lloyd Villa</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>No</td>
  </tr>
  <tr>
    <th scope="row">2</th>>
    <td>Glenn Miguel</td>
    <td>Commercial</td>
    <td>Maligay, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>No</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td>Rushel John Gabatin</td>
    <td>Household</td>
    <td>Edenton, Sison, Maitum, Sarangani Province, South Cotabo</td>
    <td>October 08, 2022</td>
    <td>Yes</td>
  </tr>
  </tbody>
</table>