<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">BCTV System</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/" class="nav-link align-middle px-0 link-dark">
          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link align-middle px-0 link-dark">
          <i class="fs-4 fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Services</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/customers" class="nav-link align-middle px-0 link-dark">
          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payments" class="nav-link align-middle px-0 link-dark">
          <i class="fs-4 bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Payments</span>
        </a>
      </li>
      <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-dark">
          <i class="bi-shield-lock"></i> <span class="ms-1 d-none d-sm-inline">Admin</span> </a>
        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
          <li class="w-100">
            <a href="/admins/notifications" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark" >Notifications</span></a>
          </li>
          <li class="w-100">
            <a href="/admins/add_services" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark" >Add Services</span></a>
          </li>
          <li>
            <a href="/admins/plans" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Plans</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Purok</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Barangay</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Municipality/City</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Province</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <li>
      <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-dark">
        <i class="bi-clipboard-data"></i> <span class="ms-1 d-none d-sm-inline">Reports</span> </a>
      <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
        <li class="w-100">
          <a href="/reports/customers" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark" >Customers</span></a>
        </li>
        <li class="w-100">
          <a href="/reports/dues" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark" >Dues</span></a>
        </li>
        <li>
          <a href="/reports/disconnections" class="nav-link px-0"> <span class="d-none d-sm-inline link-dark">Disconnections</span></a>
        </li>
      </ul>
    </li>
  </ul>

</div>








